[2017-01-20 15:18] ajefts opened #46 "Billing Account Admin View"
We need to add a view in the admin app to manage customer records, billing accounts, and resources on billing accounts.

This will manage the following tables in the time_oltp database:

client
project
project_manager

The API will handle the DB interactions, and @skyhit is managing that part.  For this story, we need the UI built within the admin tool.  Here is what an admin user needs to be able

[2017-01-20 15:40] ajefts opened #47 "Remove Connect Projects section"
Since we no longer have Connect v1, we can remove the "Connect Projects" section from the admin tool (both front and back end).

[2017-01-25 21:24] ajefts opened #48 "Improve Tag Management"
Currently, we have a tags api and a page to manage tags in the admin tool.

We have a need to keep these tags in sync with technologies and platforms that are associated to challenges and stored in the informix db.  Eventually we'll deprecate the old tables, but for now we need them.

So, ...

In the admin tool, we need to make sure we update the tcs_catalog.technology_type and tcs_catalog.project

[2017-03-07 13:50] ajefts opened #52 "Performace for billing and client listings"
Improve the performance of the billingAccounts/list and clients/list pages.  Currently, it's loading all the data from the api.

[2017-03-07 13:51] ajefts opened #53 "Default billing and client lists to active records"
When loading the billing account list and the client list, default to only active records.

[2017-03-07 13:52] ajefts opened #54 "Add filters to client list"
Add the ability to filter on the /clients/list page.

Filter on name (partial match), status, start date, and date.

[2017-03-07 17:36] ajefts opened #55 "Add client picker to billing account create/update"
When creating a billing account, user needs to pick the client it is related to.  Make this  a type ahead search box.

[2017-03-23 18:35] parthshah opened #59 "Add Connect Role support to Admin App"
Admin app , role management supports adding roles for Studio & TC roles. Let's enhance it to support adding / removing for TC Identity roles (Topcoder User, Connect Manager, Connect copilot)

@sudoster @ykohata  could you please link APIs for role management here. Thanks

[2017-03-23 18:43] parthshah commented on #59
https://github.com/appirio-tech/tc1-api-core/blob/dev/tech.core/tech.core.service.identity/apiary.apib#L1126

[2017-03-24 07:20] huangqun commented on #48
@ajefts did you see my latest comment here?
https://github.com/topcoder-platform/admin-app/pull/56

In order to makes tags sync work correctly we need to add a new "informixId" field to the tags database.

[2017-03-26 04:28] huangqun commented on #59
@parthshah is there a test service on dev server I can use for testing? If so what's the endpoint?
Thanks!

[2017-03-26 13:10] ajefts commented on #59
@huangqun I believe you should be able to hit those /roles endpoints in dev at api.topcoder-dev.com/v3/roles/.  Let us know if that's not working.

[2017-03-27 03:41] huangqun commented on #59
Keep getting this error when trying to invoke the api:
{
  "id": "-23d69c87:15977d8f722:-a65",
  "result": {
    "success": true,
    "status": 401,
    "metadata": null,
    "content": "Valid credentials are required to access this resource."
  },
  "version": "v3"
}

I used the token for user TonyJ which should be an admin token already right?

[2017-03-27 03:47] huangqun commented on #59
Never mind, looks like I used a v2 token instead of v3.

[2017-03-27 05:36] huangqun commented on #59
@parthshah @ajefts  is there an endpoint to get a list of users by these 3 new roles?

[2017-03-28 13:15] ajefts commented on #59
Looks like this would do it:

https://github.com/appirio-tech/tc1-api-core/blob/dev/tech.core/tech.core.service.identity/apiary.apib#L1082

(Fetch All Subjects With Given Role [GET /roles/{roleId}/subjects])

On Mon, Mar 27, 2017 at 1:36 AM, huangqun <notifications@github.com> wrote:

[2017-05-02 18:07] ajefts opened #67 "Management of groups and roles"
This is a more generic version of https://github.com/topcoder-platform/admin-app/issues/59

We need to add screens to be able to manage groups and roles.  It should be some basic crud.

- Add/Remove/Update Group
- Add/Remove group members
- Add/Remove/Update Role
- Add/Remove users from roles

Let's make a section for this in admin.topcoder.com.  For both groups and roles, it should have the abili

[2017-05-17 15:08] huangqun commented on #47
This is done.

[2017-05-17 15:08] #47 closed

[2017-05-17 15:08] huangqun commented on #46
This is done.

[2017-05-17 15:08] #46 closed

[2017-05-17 15:09] huangqun commented on #52
This is done.

[2017-05-17 15:09] #52 closed

[2017-05-17 15:10] huangqun commented on #53
This is done.

[2017-05-17 15:10] #53 closed

[2017-05-17 15:11] huangqun commented on #54
This is done.

[2017-05-17 15:11] #54 closed

[2017-05-17 15:13] huangqun commented on #55
This is done

[2017-05-17 15:13] #55 closed

[2017-05-17 15:15] huangqun commented on #59
Done in https://github.com/topcoder-platform/admin-app/pull/70

[2017-05-17 15:15] #59 closed

[2017-06-13 15:21] ajefts opened #76 "Add user group/role management to user screen"
When I'm on a specific user at https://admin.topcoder.com/#/index/users, add the ability to view/add/remove the user from groups and roles.

[2017-06-13 15:22] ajefts commented on #76
@huangqun This is one you can get started on next please.

[2017-06-13 15:23] ajefts opened #77 "Update roles UI"
Update the roles UI so it follows the pattern we have for groups (https://admin.topcoder.com/#/index/groups/list).

List roles, pick a role, see user's in that role, add/remove users.

[2017-06-13 15:51] ajefts opened #78 "Add attributes to groups"
We'll need to have some additional attributes of a group.

1. public/private
2. is joinable?  i.e. Can the user join this group themselves or does an admin need to add them.  If they can join themselves, then the api permission checks needs to be smart enough to allow them.
3. ...

Let's talk more about this one...

[2017-06-14 16:24] ajefts commented on #78
@huangqun Can you take a look at this one please?  I'd like to add these to the API and also control them from the admin tool.

[2017-06-14 16:24] ajefts commented on #78
fyi @skyhit

[2017-06-14 16:27] huangqun commented on #78
@ajefts 1. if private is true, how does that affect the usage of the group?
2. if self_register is true, does that mean anyone can join? If not what specific permission checks are needed?

[2017-06-14 17:00] ajefts commented on #78
1. If it's private, it will basically act as it does right now - only members of the group can see the challenges.  If it's public, then everyone can see the challenges...it basically just gives us a way to group challenges.

2. If it's true, then anyone can join.  We'll need to make this more robust as we move forward, but I want to start simple.  For permission checks, if the setting is false th

[2017-06-21 18:37] ajefts opened #79 "Permission to add group members"
We need to allow a member to add themselves to a group if the group is public.

[2017-06-21 18:37] ajefts commented on #79
@huangqun Can we get going on this one and the public/private group concept?

[2017-06-22 14:53] huangqun commented on #79
@ajefts so if group is public (i.e. private=false), it means self_register = true?

[2017-06-22 21:30] ajefts commented on #79
If the group is public and self_register is true, then we'd want them to be able to add themselves.

However, I'm questioning myself on this now. I'm wondering if we should stick to having some kind of admin user that always adds/removes members.  i.e. An app user with permission would make the call on behalf of the user.  The reason I'm thinking this is because we'll want to add additional valida

[2017-06-24 04:34] huangqun commented on #79
@ajefts I'm not sure if I fully understand this, do you mean for members to be able to add themselves to a group, we need **BOTH** public and self_register fields set to true?

Also if we stick to having admin user always add/remove members, what's the point of self_register flag?

Thanks!

[2017-06-27 06:42] huangqun commented on #79
@ajefts based on what we discussed in #78, the latest code works like this:

The user can add himself to a group if he is an admin or the group has self_register = true, regardless if the group is private or not.

Let me know if this needs to change, or whether it's good for me to send a pull request keeping this behavior.

[2017-06-27 10:48] ajefts commented on #79
Hi,

That's good for now.  I have some more logic I want to think about, but that will work to get us started.

Thanks.

[2017-06-28 15:06] ajefts opened #82 "Issue with managing roles from user page"
For any user, it's showing all roles when you try to edit their roles and the Role drowdown is disabled.  It's showing all roles for all users, even if they aren't in those roles.

![image](https://user-images.githubusercontent.com/3812270/27644516-c6b29b3c-5bf1-11e7-95c4-ed2381f026cf.png)

[2017-06-28 15:07] ajefts commented on #82
@huangqun Can you take a look at this one please?

Thanks.

[2017-06-28 16:37] huangqun commented on #82
@ajefts were you testing on https://admin.topcoder-dev.com/? But when I tried why was it redirecting to accounts.topcoder.com the production site?

[2017-06-28 17:46] ajefts commented on #82
@huangqun let me update that build param in CircleCI.  We still need to get that fixed so we don't need to edit it...

[2017-06-28 18:36] ajefts commented on #82
fyi, it's redeployed to dev

[2017-06-29 01:58] huangqun commented on #82
@ajefts this is what I saw on dev server when I tested:

![image](https://user-images.githubusercontent.com/6045894/27668088-88fa549a-5cb1-11e7-8a31-3b563b5a043d.png)

Could you please double check if you still see the issue too?

[2017-06-29 02:37] ajefts commented on #82
Hrm...I see it ok in dev, but not prod.  The API call seems to return all roles, even with the subjectID filter in prod.

@ykohata We're making calls like https://api.topcoder.com/v3/roles/?filter=subjectID=8544935 with the bearer token from the admin tool.  It's returning all roles in prod.  Any ideas?

[2017-06-29 02:40] huangqun commented on #82
My guess is the prod server is not running the latest code yet, but let's wait for @ykohata to confirm.

[2017-06-29 03:04] ykohata commented on #82
@huangqun - could you tell me what PR should be deployed for this feature?

[2017-06-29 03:07] huangqun commented on #82
It should came from either https://github.com/appirio-tech/tc1-api-core/pull/262 or https://github.com/appirio-tech/tc1-api-core/pull/263

[2017-06-29 03:34] ykohata commented on #82
@huangqun - they have not been deployed in the production yet. I'm going to release them from now.

[2017-06-29 03:59] ykohata commented on #82
done deploying these PRs in the production.

[2017-06-29 14:43] ajefts opened #83 "Add search and sorting to list views"
Let's add sorting and search filters to the groups and roles pages..

For example, I'd like to be able to search on a handle to see if they are in the group here:

![image](https://user-images.githubusercontent.com/3812270/27693554-c1d1b1e0-5cb7-11e7-8710-7654628b74ff.png)

We should also be able to sort on the column headers.

[2017-06-29 14:43] ajefts commented on #83
fyi @huangqun

[2017-06-29 18:28] #82 closed

[2017-06-29 18:28] #77 closed

[2017-06-29 18:29] #76 closed

[2017-06-29 18:29] #67 closed

[2017-06-30 04:32] huangqun commented on #83
@ajefts just the group / role details page showing members / users right?

[2017-07-10 14:11] huangqun commented on #83
@ajefts any comments?

[2017-07-10 15:05] ajefts commented on #83
Correct

[2017-08-21 15:07] ajefts opened #85 "loading a group makes a ton of API calls..."

[2017-08-22 17:02] ajefts opened #86 "bulk user loader"
when we load a lot of records, there seems to be some db locking occuring.  The errors usually point to the email table.  It seems like the loader is trying to do multiple inserts at the same time...

[2017-08-23 17:01] huangqun commented on #85
@ajefts is there any group on dev server that I can use to test this issue?

[2017-08-23 17:17] ajefts commented on #85
This is the biggest group in dev, but  you should be able to see the
multiple calls with it:
https://admin.topcoder-dev.com/#/index/groupmembers/20000000/list

On Wed, Aug 23, 2017 at 1:01 PM, huangqun <notifications@github.com> wrote:

[2017-10-19 14:06] ajefts opened #87 "Add ability to create group via admin tool"
In admin.topcoder.com, include the ability to create a new group.  This should do 2 things on the backend:

1. use the groups api to create the group in the Authorization DB groups table.
2. create the same group in informix in common_oltp:security_groups

[2017-10-19 14:06] ajefts commented on #87
@huangqun fyi

[2017-10-27 18:21] ajefts opened #88 "Add sso management to user lookup"
When you look up a user in the admin tool, let's add the following features:

1. Display if the user is an SSO user and the provider (provider is based on the provider type)
2. In the Edit dropdown, add an item for SSO.  When selected, this should allow us to edit the user_sso_login record if the user is already an SSO user.  If the user is not an SSO user, then it should allow us to add a user_ss

[2017-11-04 02:20] huangqun commented on #87
@ajefts for #1 I think we can use the existing groups api, but for #2 it looks like we'll need a new endpoint, should we put that into the identity service too?

[2017-11-04 02:20] huangqun commented on #88
@ajefts which service / microservice should we put in the new endpoints here?

[2017-11-04 12:02] ajefts commented on #88
Identity service

[2017-11-04 12:03] ajefts commented on #87
Yes, please.

[2017-12-22 11:11] vikasrohit opened #94 "Recreate functionality of legacy report for a member"
I guess we can deprecate the legacy report  if we can add all(or may be only mostly used one) information populated by legacy report to the  details section of each user row in `/users` page.
However, I think simply adding this information, won't work because right now only administrators are allowed to access the admin app. We have to introduce new role may be `power user` or `topcoder employee`

[2017-12-22 17:11] ajefts commented on #94
@vikasrohit What was the context of this request?

We do have an admin tool with a user lookup that a few of us have access to.  But if this is to provide a way for general TC staff to lookup user info that isn't on the public profile, then I think we should use Looker for that....

[2017-12-23 05:06] vikasrohit commented on #94
@ajefts I was just looking at one of my bookmarks where this legacy report exists. And when I looked for alternatives, there are two: one is admin tool and another is looker. In admin tool all information from legacy report, e.g. user ratings, address etc , is not there. With looker one has to create run a report (by adding filters and columns) and it would require some joins (may be a model alrea

[2018-01-05 18:26] mtwomey opened #96 "Confirm DB locking issues won't occur with the updated code"
Wendell - you mentioned this was an issue when we tried to do this last time.

[2018-01-05 18:43] mtwomey opened #97 "Add "Master" dropdown lists for SSO Provider Type, SSO Provider, and Group"

[2018-01-05 18:56] #97 closed

[2018-01-08 01:35] huangqun commented on #96
Should be ok now since we chanced async calls to the API to sync / blocking calls.

[2018-01-08 21:11] #96 closed

[2018-01-08 21:11] mtwomey commented on #96
Thanks!

[2018-02-02 16:38] mtwomey opened #101 "Getting 400 error when using Submissions uploader"
You can choose the file and try the upload process, but you get:

![image](https://user-images.githubusercontent.com/7715262/35744134-25d47148-0805-11e8-80e3-7a4ee461e02d.png)

[2018-02-08 05:50] RiteshTC opened #102 "Selecting Fonts during Design Submission upload throws an Error 404"
Steps :
1. Navigate to the Submission URL
https://admin.topcoder.com/#/index/submissions/list

2. Input a Design Studio Challenge ID
3. Click Add Submission button
4. Select Challenge Phase as "Submission"
5. Select a valid Handle

6. Upload Submission
a. Select Submission archive
b. Select Solution archive
c. Submission cover

7. Select Add Font
Select "Font Squirrel"
Click Submit.

An error of 4

[2018-02-08 05:58] RiteshTC opened #103 "Need a feature to open and extend Phases of challenges"
Problem:
Once a phase is complete, its not possible to open the phase, without editing the database field.

Scenario:
A designer / developer is not able to upload submission. The submission phase has ended. I would like to open and extend submission phase by 1-2 hours / days.
A copilot might request for extension of phase just at the last moment.

Implementation Notes
Like the Submissions feature.

[2018-02-08 05:59] RiteshTC opened #104 "Submission Upload should support uploading of Development Submissions"
Uploading a development submission throws a 400 error.
The submissions screen should support uploading to a development submission.

[2018-02-10 16:50] RiteshTC opened #105 "Allow Submissions to be pulled from Google Drive"
Design Challenges usually have big files. Currently we have to download them locally and then upload.
Since most of the designers send us files in Google drive, it would be good idea to for the admin app to pull files directly from Google Drive and upload .

Steps:
Current Submission Screen. There is an textbox pull from Google Drive
Admin enters the Google Drive URL
The app lists the files inside

[2018-02-26 06:36] JayaDhaka opened #107 "Admin Tool doesn't update SSO user's email in all places"
Issue description:
Updating a SSO user doesn't update email at all places.

Steps to Reproduce
1. Create a SSO user with an email address (a@a.com)
2. Login with the user
3. Change user email to b@b.com
4. User is able to login using the old email address only (cannot login using the new email address)

Possible Fix:
Updating the user primary email via Admin Tool, should also update the sso_user_l

[2018-02-26 16:25] ajefts commented on #104
@huangqun Can you put this one on your short list please?

[2018-02-27 02:42] huangqun commented on #104
@ajefts was it designed to only support studio submission uploads in the past?

[2018-02-27 13:59] huangqun commented on #87
@ajefts I think this one can be closed now.

[2018-02-27 14:00] huangqun commented on #88
This one can be closed I think.

[2018-02-27 14:04] huangqun commented on #85
@ajefts to fix this issue, I think we need to add new endpoints to get groups / users from the server in batch, see attached api definition:
[swagger.yaml.zip](https://github.com/topcoder-platform/admin-app/files/1763151/swagger.yaml.zip)

After this is done, I guess we need to update the admin-app to use the new endpoints to avoid so many api calls.

Let me know if we should go ahead with these.

[2018-02-27 16:13] ajefts commented on #85
could we just use some kind of paging?  Load 20 users per page and use offset/limit on the api calls?

[2018-02-27 16:13] #87 closed

[2018-02-27 16:13] #88 closed

[2018-02-28 02:36] huangqun commented on #85
@ajefts that doesn't look like a problem with paging, take the example you shared: https://admin.topcoder-dev.com/#/index/groupmembers/20000000/list

There are less than 20 users in the group, but it's still making a ton of calls.

[2018-02-28 16:31] ajefts commented on #107
@huangqun Can you work on this one next?  There are some inconsistencies when we update user sso records using the admin tool so we need to make sure we create/update the complete set of data.  For example, the email address in user_sso_login is not getting set when we use the admin tool to set SSO info for an existing user.

[2018-03-01 05:23] ajefts commented on #85
@cwdcwd @mtwomey Looping you in to this one for an API decision.  What's the right way to do this?

The admin page is trying to list all users in the group, so it calls https://api.topcoder-dev.com/v3/groups/20000000/members to get the list...but that only has IDs...so then it turns around and calls the user api for each user to add things like handle....  yuck....

[2018-03-01 14:25] ajefts commented on #107
1. it means when we change this the admin app should automatically update the sso_user_login email address too
http://take.ms/xHHbp
-- YES

2. Do we need to have an extra field to update the email here as well?
http://take.ms/oIjeR
-- YES

In reality, the 2 emails above will always match.

I'll check the other issue and comment there...

[2018-03-01 14:35] huangqun commented on #104
@ajefts not sure if you saw this...

[2018-03-01 18:12] ajefts commented on #104
@huangqun I think the intention was for it to support both, but the focus was definitely on design submissions for v1.  It'll require a little bit of analysis to see what's missing to support dev uploads.

[2018-03-02 15:04] huangqun commented on #107
@ajefts based on our discussion in https://github.com/topcoder-platform/admin-app/pull/99, I guess we need to update the email in all places (the primary email, and email in all sso identities) whenever we change any of the primary email / sso emails?

[2018-03-02 15:10] ajefts commented on #107
Based on what we learned about our support for multi-sso profiles per user, I think we need to adjust this now.

Let's not auto update the sso email address field when we change the users primary email.   Instead, let's just make sure we have the ability to edit the SSO email for the user here:

![image](https://user-images.githubusercontent.com/3812270/36905662-e74bfc12-1e01-11e8-877b-d292b508f15

[2018-03-05 09:24] RiteshTC opened #108 "Allow Reset of W8 Forms via Admin Tool"
Enhance Admin Tool, to support clearing of W8 Forms for users

[2018-03-05 09:25] RiteshTC opened #109 "Allow Payment Adjustment via Admin Tool"
Enhance Admin Tool to support updating payments in project_payments table.

[2018-03-05 15:11] RiteshTC opened #110 "Allow Adding of Badges to User"
Allow adding of badges to user.

Steps
1) Accept a csv file of user handles
2) A Badge Name or Badge ID
3) Show Sucess and Failures.

[2018-03-06 14:13] RiteshTC commented on #104
@huangqun
Do you have an estimated timeline for completing this ?
This is a very critical functionality and is impacting customer satisfaction.

[2018-03-06 14:21] huangqun commented on #104
@RiteshTC sorry I didn't know there was urgency to get this done, there were some other admin app related tasks that needed to be done and I was waiting for some APIs to be updated before we can work on the admin app. Let me check with @ajefts and see if we can handle this one first.

[2018-03-19 15:44] huangqun commented on #104
@RiteshTC an update on this: we have a fix to be tested, waiting for the accounts app to be back up so I can verify the fix. Will keep you posted.

[2018-03-22 10:46] JayaDhaka opened #112 "Unable to update Autopilot via Admin Tool"
Issue description:
Updating autopilot status for a challenge doesn't update autopilot status in functionality

Steps to Reproduce:

1. Open admin tool.
2. Click on challenge management tab,
3. Enter challenge ID.
4. Click on Update Autopilot.

This will update the status of autopilot on Online Review but the functionality won't reflect as per the status.

[2018-03-23 05:44] huangqun commented on #104
@RiteshTC FYI this has been merged and deployed to dev server, not sure when it will be live in production though.

[2018-04-30 04:59] huangqun commented on #107
This is done.

[2018-06-25 11:15] BadalZ commented on #112
Hi Jaya,

We have created a test challenge on Prod environment to reproduce the issue but no luck. This issue is not reproducible on Dev env as well.

Prod challenge with AP off : https://www.topcoder.com/direct/contest/detail.action?projectId=30065164

Only the suspected thing I could think of is Database disconnection while updating the AP flag (which will not update the AP flag on database) and

[2018-08-28 13:02] cwdcwd opened #119 "Billing Account Resources don't page"
I've a billing account with more than 10 resources but the paging does not show the resources past 10

![image](https://user-images.githubusercontent.com/1504607/44724580-1e52ce80-aaa1-11e8-98c6-5cb0acf30681.png)

![image](https://user-images.githubusercontent.com/1504607/44724520-ecda0300-aaa0-11e8-92dc-f21d1dd1e16e.png)

[2020-02-20 17:02] rootelement opened #130 "WIP Lookup API Device Admin Tool"
Create a simple CRUD tool to manage devices in the Lookup API
https://github.com/topcoder-platform/lookups-api

You should be able to:
 - List devices with basic filtering/search
 - Add a new device
 - Edit a device
 - Soft Delete a device
 - If a device is not attached to anything, it can be destroyed.

[2020-03-02 07:14] maxceem commented on #130
@rootelement it looks like Lookup API doesn't support soft-delete of devices. I didn't find any places where it would configure any plugins or code for soft-deleting. See [dynamoose config](https://github.com/topcoder-platform/lookups-api/blob/518207d64d0ef7f557e0dd1d86a9203daab38ef2/src/models/index.js) and [Device model config](https://github.com/topcoder-platform/lookups-api/blob/518207d64d0ef7

[2020-03-02 16:18] rootelement commented on #130
Build the tool for now without delete. I will work with @callmekatootie to get that implemented.

@callmekatootie can you create an issue for this? We need to be able to remove the devices from the UI, but keep them historically if they've been used. Then also allow them to be destroyed. I think the format should be soft delete on `DELETE /device` and destroy on `DELETE /device?destroy=true` or so

[2020-03-03 09:01] callmekatootie commented on #130
Ticket created to support soft deletes in lookup api - https://github.com/topcoder-platform/lookups-api/issues/13. Will get it implemented soon.

[2020-03-06 08:00] maxceem opened #131 "Errors are not clear on the Billing Account Pages"
On the edit screen of the **Billing Account Page**, if there are errors they are stacked, and if the user clicks the cancel button to route back to the list page, those errors still appear, even after that the user navigates around the page (list, edit, new screens). They only disappear when the user switchs to the other pages on the sidenav.

![image](https://user-images.githubusercontent.com/146

[2020-03-14 02:04] maxceem commented on #130
This task has been implemented via challenge https://www.topcoder.com/challenges/30117977/?type=develop.

The submission has been pushed to branch https://github.com/topcoder-platform/admin-app/tree/feature/device-management.

[2020-03-31 06:48] maxceem commented on #130
![image](https://user-images.githubusercontent.com/146016/77995482-87ad5a00-7334-11ea-9ffa-2ed8bd527e4d.png)

QA guidelines:

The main features implemented:
- List devices with basic filtering/search
- Add a new device
- Edit a device
- Note: deleting is not implemented because the server-side doesn't support it the way we need yet as per https://github.com/topcoder-platform/admin-app/issues/130#i

[2020-03-31 13:01] rootelement commented on #130
This is a great summary, thanks @maxceem ! I will test in dev a little later today.

[2020-04-13 15:37] maxceem opened #134 "Upgrade to Angular 1.7 and other outdated dependencies"
Our application uses many dependencies which are outdated and have various security issues, see:
- Angular 1.4.14 ->1.7.9 as per automatic `dependbot` PR: https://github.com/topcoder-platform/admin-app/pull/127
- https://github.com/topcoder-platform/admin-app/security - 36 dependencies with issues
- run `npm audit`:
[code]

The main challenge is to upgrade Angular from 1.4.14 to 1.7.9 as every ste

[2020-04-20 17:56] callmekatootie commented on #130
@rootelement Soft delete feature support is now in lookup api development instance. You can check it out. Let me know when its good to push to master branch

[2020-07-08 21:21] rootelement opened #146 "Add Groups Search on User Groups Management"
<img width="743" alt="Screen Shot 2020-07-08 at 5 19 30 PM" src="https://user-images.githubusercontent.com/5400156/86971494-47cdee00-c13f-11ea-89f2-dcc496d8b131.png">

If you go to User Management, search for a user, click Edit > Groups. The dropdown is populated with a TON of groups in prod. You can't search and they're not alphabetized.

Suggestion: replace this dropdown with a type search dropd

[2020-08-11 13:17] sachin-maheshwari opened #148 "We can use common logic for token expiry checking and refreshing token"
Example - https://github.com/topcoder-platform/admin-app/blob/cb7b898658a30a1049df7948dd70b7db26576e91/src/app/auth/auth.service.js#L232

We can use account-app - https://github.com/appirio-tech/accounts-app/blob/dev/core/token.js#L41

[2020-09-18 17:42] rootelement opened #152 "Terms Admin Feedback"
These comments are as of this commit:
https://github.com/topcoder-platform/admin-app/commit/9290aa1982cc515da452fd332422014d700f7ce2

## /index/terms/list
1. Take out Legacy ID as a filter.
2. Filters should be
  - Title (name search)
3. Change List View
  - Columns should be Title (clickable to view/edit), Agreeability Type, Info, [Delete Terms]
  - Info column should be based on Agreeability Typ

[2020-09-18 17:47] rootelement opened #153 "Terms Admin 2.0 - Manage Users"
We need to make a simple admin tool to be able to search by handle/member id, and view the terms they have signed. And to also possibly sign terms for them (if you're an admin level? power user?)

Using this issue to discuss first.

Here's the existing admin. We should probably use this as a baseline.

## List view
Notice View and Add Members on each term.
![Screen Shot 2020-09-18 at 1 45 06 PM](h

[2020-09-21 09:50] maxceem commented on #152
@rootelement

## /index/terms/list

1. > Filters should be:
       Title (name search)

    Terms Service at the moment only supports filtering by `legacyId`, see [source code](https://github.com/topcoder-platform/terms-service/blob/dev/src/services/TermsOfUseService.js#L453) and [swagger screenshot](https://monosnap.com/file/lJaSj73cP8bTjyVaXtirhZjoL1T1JI).

    Should I log an issue for the Term

[2020-09-21 11:33] maxceem commented on #153
@rootelement

## List/View/Add Users

1. >We need to make a simple admin tool to be able to search by handle/member id, and view the terms they have signed.
     And to also possibly sign terms for them

   I suggest to implement it a similar way as it's done for managing `Goups`/`Roles` of users. But currently, we only can search users by `handle` or `email`. Should we add ability to search by `u

[2020-09-21 14:26] rootelement commented on #152
1. Yes, please add an issue for the filters you need
2. Correct, it should be empty
3. Yes, it should be populated like that dropdown. Please create an issue on terms to create a related table of types. I will add to that issue with the types from the old admin.
4. Yes, we should have a html/markdown editor if possible.

[2020-09-21 14:28] rootelement commented on #153
1. Yes, add the ability to search by id
2. This approach is fine.
3. Yes, as in the other issue, we need to add a related table to terms to populate the text for that dropdown.
4. Don't worry about dependencies yet. Leave that out for now.

[2020-10-01 08:57] maxceem commented on #152
@rootelement we can have an editor but we would have to choose one format `HTML` or `markdown`. As most of the Terms use HTML format, I suggest using `HTML` format as output. To be able to edit `markdown` we can add a button to disable RichText editor so we can edit the terms text as a plain text.

We can also try supporting both formats `HTML` and `markdown` by adding a switch between them. Thoug

[2020-10-22 05:29] lakshmiathreya opened #156 "Auth0: V2 calls - result in Invalid algorithm error"
<img width="1671" alt="Screenshot 2020-10-22 at 9 20 16 AM" src="https://user-images.githubusercontent.com/51733042/96828648-a6e91180-1455-11eb-822d-bedcd254a071.png">

[2020-10-22 05:33] lakshmiathreya opened #157 "Auth0: V2 calls result in Invalid algorithm error (moved to Admin tool repo)"
<img width="1606" alt="Screenshot 2020-10-22 at 11 02 50 AM" src="https://user-images.githubusercontent.com/51733042/96828940-2a0a6780-1456-11eb-97a9-2d08417c858d.png">

[2020-10-22 05:55] sachin-maheshwari commented on #156
@lakshmiathreya its fixed, redeployed lookups api for dev and prod to get new valid_issuers value.

[2020-10-22 05:56] sachin-maheshwari commented on #157
@mtwomey v2 calls are not supported for "new auth" (RS256 algo). So we need to change the v2 call,  no other go.

[2020-10-22 06:07] sachin-maheshwari commented on #157
@nkumar-topcoder lets discuss with @RiteshTC to understand the priority for same.

[2020-10-22 11:27] nkumar-topcoder commented on #157
@sachin-maheshwari @lakshmiathreya @mtwomey This has been discussed with Ritesh and feature is not at all used. hence, has no impact if left as is.
This can be closed.

[2020-10-22 21:12] maxceem commented on #153
Done in PR https://github.com/topcoder-platform/admin-app/pull/139

[2020-10-22 21:12] maxceem commented on #152
Done in PR https://github.com/topcoder-platform/admin-app/pull/139

[2020-10-26 14:43] rootelement commented on #152
Looks good. I'm going to open a new issue for a few more tweaks. This is complete.

[2020-10-26 14:43] #152 closed

[2020-10-26 14:43] rootelement commented on #153
Looks good. Opening a new issue with a couple items, but otherwise good work.

[2020-10-26 14:43] #153 closed

[2020-10-26 14:43] rootelement opened #161 "Terms Admin - Final Tweaks"
## List View

- [x] Remove the Delete Terms and Add User buttons
- [x] Add "Type" between Title and Agreeability Type

## Add Terms

- [x] Move Agreeability Type above the Text editor.
- [x] Decrease the height over the Text area to about half height.
- [x] Change "Type Id" to just Type. Select "Contest" by default.

## Edit Terms
- [x] Same edits as Add Terms
- [x] In the bottom left corner of th

[2020-10-26 20:47] maxceem commented on #161
@rootelement  Got it, will handle it via private task.

Would you like to add a couple of more tweaks?
1. When there are more than 0 users signed the terms, we can still show `Delete Terms` button but `disabled`. So we are aware that terms can be removed.
2. When we click `Delete Terms` button, show confirmation modal before removing it.

[2020-10-26 20:53] rootelement commented on #161
Yes please. Sounds good

[2020-10-27 06:48] anonymousjaggu commented on #161
@maxceem  What do we mean by `Type`?

[2020-10-27 13:55] rootelement commented on #161
I'm pushing a fix for this. It's deploying now. It will be called `type` @anonymousjaggu . Will post again when it's deployed and tested.

[2020-10-27 14:03] maxceem commented on #161
@rootelement I will update when it's deployed.

[2020-10-27 14:05] maxceem commented on #161
@rootelement it's deployed, but it's called `TermsOfUseType.type`:

![image](https://user-images.githubusercontent.com/146016/97312439-2750ad80-186e-11eb-82ca-b90095461fa5.png)

Would you like to rename it first?

[2020-10-27 14:14] rootelement commented on #161
I'm renaming it. Deploying now

[2020-10-27 14:19] maxceem commented on #161
@rootelement all done in PR https://github.com/topcoder-platform/admin-app/pull/163

[2020-10-27 14:19] rootelement commented on #161
Fixed:
[code]

[2020-10-27 20:09] rootelement opened #164 "v5 Challenge Admin"
Create a tool to manage v5 Challenges

Add a new menu item called  `v5 Challenge Management`. You can use the same icon.

## List view

List challenges (`GET https://api.topcoder-dev.com/v5/challenges` Auth: User JWT). Don't populate the list until the user clicks "Search".

Table should be:

Title | Status | # Registrants | # Submissions
---|---|---|---

Do not worry about editing challenges yet.

[2020-10-27 20:11] rootelement commented on #164
Basically replacing this functionality in OR:
![Screen Shot 2020-10-27 at 4 10 52 PM](https://user-images.githubusercontent.com/5400156/97356698-0046ab80-186f-11eb-9ecc-8ba0f06976bc.png)

[2020-10-27 20:18] maxceem commented on #164
@rootelement

1. Did I get it right, that we are replacing the current section "Challenge Management" so **all existent** code which we don't need related to this section could be removed?

[2020-10-27 20:26] rootelement commented on #164
Can you actually get it to work in dev? I couldn't even get it to look up a legacy id. I guess create a new section and call it v5 Challenge Management? That way we can create the new tool and phase out the old one... if it works at all.

[2020-10-27 20:29] rootelement commented on #164
Ok, strange, it works in prod, but not in dev. Yes, leave that there as it is. Name the new section v5 Challenge Management.
Best case scenario, we can either link to, or port over, those actions into our v5 management as we go.

[2020-10-27 20:31] #161 closed

[2020-10-27 20:31] maxceem commented on #164
No, I've tried to search by both old and new challenge id, but the current tool didn't give me any results. Maybe something with the gateway on DEV:

![image](https://user-images.githubusercontent.com/146016/97358564-191d8400-18a4-11eb-83ff-54cd16d4097b.png)

[2020-10-27 20:40] rootelement commented on #164
Well, i tested. it works in prod. Maybe it should be using v4. Don't worry about it, leave it as it is.

[2020-10-28 14:24] maxceem commented on #164
Code challenge is launched to complete this task https://www.topcoder.com/challenges/63758f25-8587-4462-b746-14c4bad24150.

End date: `November 6`.

[2020-10-28 22:20] rootelement opened #165 "[$40] Use Agreeability Types API"
The terms admin uses hardcoded AGREEABILITY_TYPES.

There's now an API to get the types from the v5 terms api:
https://api.topcoder-dev.com/v5/terms/agreeability-types

Response looks like this:
[code]

[2020-11-02 16:30] rootelement commented on #165
@anonymousjaggu Can you fix this quick?

[2020-11-02 16:32] anonymousjaggu commented on #165
Ok @rootelement let me see

[2020-11-02 16:32] rootelement commented on #165
You just have to call out to the terms api to get the agreeability types instead of pulling from the constant. Let me know I'll assign this to you.

[2020-11-02 16:33] rootelement commented on #165
Contest https://www.topcoder.com/challenges/30148281 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-11-02 16:33] rootelement commented on #165
Contest https://www.topcoder.com/challenges/30148281 has been updated - it has been assigned to anonymousjaggu.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-11-02 16:34] anonymousjaggu commented on #165
@rootelement which branch to be used?

[2020-11-02 16:36] rootelement commented on #165
@anonymousjaggu `dev` please

[2020-11-02 16:43] rootelement commented on #165
PR against dev and tag me please so I can test.

[2020-11-02 17:02] #157 closed

[2020-11-02 17:24] anonymousjaggu commented on #165
@rootelement this is ready for review, Thanks!

[2020-11-02 17:59] rootelement commented on #165
Thanks! Works great!

[2020-11-02 17:59] #165 closed

[2020-11-02 17:59] rootelement commented on #165
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148281<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-11-05 07:34] maxceem commented on #164
@rootelement we've got the winning submission it perfectly matches the requirements IMO.

PR to DEV https://github.com/topcoder-platform/admin-app/pull/170.

[2020-11-06 21:29] rootelement commented on #164
This is great, but I think we actually need to update the resource api so that admins can manage users/resources on a challenge. I can't add a submitter if the phase isn't opened for example. @ThomasKranitsas Can you give this a test:
https://admin.topcoder-dev.com and play around with the v5 challenge tool?

[2020-11-06 21:40] rootelement opened #171 "Terms Admin - Issue Creating an NDA"
## Steps to Reproduce
1. Create a new terms
2. Select Type: Contest
3. Select Agreeability Type: Docusign
4. Enter anything in the docusign id field
5. Enter some placeholder text in the body.
6. Save it

If you try to edit that challenge, you'll see there's no docusign id returned.

It looks like the POST on creating a challenge is not sending the docusignId value from the field. I filled in thes

[2020-11-06 21:58] rootelement commented on #171
Also, after i fixed the terms in the DB and went to edit it, the agreeability type is correct, but it doesn't show the field:
![Screen Shot 2020-11-06 at 4 46 29 PM](https://user-images.githubusercontent.com/5400156/98418551-24fe0880-2051-11eb-9f35-b45e7f331bbc.png)

I assume editing if the field worked wouldn't update that either. The API handles the docusignTemplateId in the POST and PUT request

[2020-11-07 10:08] maxceem commented on #171
@rootelement it seems like a Terms API issue, because Admins App sends `docusingTemplateId` in the POST request:

![image](https://user-images.githubusercontent.com/146016/98438098-6f829200-20f0-11eb-8346-7aa34c24f4c3.png)

But Terms API doesn't return it the response:

![image](https://user-images.githubusercontent.com/146016/98438110-85905280-20f0-11eb-9ad2-a9b77b6cc09d.png)

After I'm trying to

[2020-11-07 10:13] maxceem commented on #171
Ah, I've got the second issue https://github.com/topcoder-platform/admin-app/issues/171#issuecomment-723318461.
If it happens to you on PROD but not on DEV, then `AGREE_FOR_DOCUSIGN_TEMPLATE` might be misconfigured on PROD. It should point to the id of **DocueSignable** Aggreability Type in the PROD DB.

[2020-11-09 20:53] rootelement commented on #171
Fixed. Thanks!

[2020-11-09 20:53] #171 closed

[2020-11-16 08:26] maxceem opened #172 "v5 Terms 2.0"
1. `[👌 clear]` A preview or live button. I always have to remember where to go in the platform to actually "see" the terms. Having a preview button would be helpful.
   - This button has to open a link like https://www.topcoder-dev.com/challenges/terms/detail/0a8695ab-cd13-4539-8d5f-839654415872 in a new window for any Terms.
   - Make sure the community app prefix is configured by the environment

[2020-11-16 08:31] maxceem commented on #172
@rootelement this is a follow-up issue to cover Admin App changes from Terms API 2.0 issue https://github.com/topcoder-platform/terms-service/issues/43.

One question left so far:

Hmm, HTML editor works good to me. Could you please share more details on what issues are you facing?

not sure what you mean

[2020-11-26 16:53] rootelement commented on #172
@maxceem don't worry about that for this round of updates. I will get more details. Just make sure to try pasting a large amount of text into the field and saving it. John was just reporting that pasting in raw HTML wouldn't save correctly.

[2020-12-04 22:10] #164 closed

[2020-12-19 15:52] maxceem opened #176 "[$40] Support filtering challenge users by role"
We can manage users of the challenges in **V5 Challenge Management** section, see [screenshot](https://monosnap.com/file/mkbeobMh8oiylNRNzOtAivlWuqRrDS)

Currently, we are showing the list of challenge users all together https://monosnap.com/file/Z0eS0ZQSEGKklD16LS3cTggh6Nqg2l

Above the table we should a filter by "Role" (dropdown):

![image](https://user-images.githubusercontent.com/146016/10269

[2020-12-19 16:04] maxceem commented on #176
@rootelement I have one concern regarding this:
- There are many users roles:

   ![image](https://user-images.githubusercontent.com/146016/102693529-fb292b80-4223-11eb-9bb0-c74d51e09321.png)

- If we show tabs for all user roles it would be a long list.

- We could show only the roles which are used in the particular challenge. But to achieve this we would have to load all the resources first. As

[2020-12-19 16:22] maxceem opened #177 "[$40] Show Email on the Resource"
We can manage users of the challenges in **V5 Challenge Management** section, see [screenshot](https://monosnap.com/file/mkbeobMh8oiylNRNzOtAivlWuqRrDS)

We are showing the list of users:

![image](https://user-images.githubusercontent.com/146016/102693655-e39e7280-4224-11eb-88a0-b2ed9fa23f6c.png)

We have to add one more column to show user emails.

We can get emails of users by their ids with on

[2020-12-19 16:58] maxceem opened #178 "Add Sorting capability on Resource view"
We can manage users of the challenges in **V5 Challenge Management** section, see [screenshot](https://monosnap.com/file/mkbeobMh8oiylNRNzOtAivlWuqRrDS)

We have to add sorting ability to the columns, similar way as we do in other sections, for example see [screenshot](https://monosnap.com/file/HreHh7qtA8nh92MldjFCqIz01AKJ7x).

We need to sort by
- `memberHandle`
- `created`

Waiting for API to su

[2020-12-19 17:07] maxceem opened #179 "[$150] Ability of add multiple resource with similar roles at the same time (i.e. 2 reviewers on the challenge)"
We can manage users of the challenges in **V5 Challenge Management** section, see [screenshot](https://monosnap.com/file/mkbeobMh8oiylNRNzOtAivlWuqRrDS)

We already have the ability to add users:

![image](https://user-images.githubusercontent.com/146016/102694926-dbe2cc00-422c-11eb-9a28-d6428c2a1e25.png)

We have to support adding multiple users with the same role at the same time.

- When we are

[2020-12-19 17:16] maxceem commented on #179
@rootelement there are 2 quick ways to go:

1. Allow entering comma-separated list **without** autocomplete
2. Or keep autocomplete, and once we selected one handle, show one more input below for entering another handle like this:

    ![image](https://user-images.githubusercontent.com/146016/102695230-958e6c80-422e-11eb-9a70-634ea0fcc438.png)

Which way would be more comfortable?

[2020-12-19 17:31] maxceem opened #180 "[$40] Ability to remove multiple resources at a time"
We can manage users of the challenges in **V5 Challenge Management** section, see [screenshot](https://monosnap.com/file/mkbeobMh8oiylNRNzOtAivlWuqRrDS)

We already have the ability to remove users individually:

![image](https://user-images.githubusercontent.com/146016/102695480-53662a80-4230-11eb-8fce-887e45c2acb7.png)

We have to allow selecting multiple users at once and remove them using one

[2020-12-19 17:37] rootelement commented on #180
Contest https://www.topcoder.com/challenges/30159309 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-19 17:37] rootelement commented on #177
Contest https://www.topcoder.com/challenges/30159310 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-19 17:38] rootelement commented on #176
This is fine as long as that filter persists logically and isn't easily reset. I believe that to be true with the URL updates we did on the List page. Just make sure that stays here.

Default the Role to Submitter

[2020-12-19 17:40] rootelement commented on #179
I'm assuming the add-multiple is to allow support to possibly copy-paste for support. Can we do something like challenge manager handles groups:
<img width="835" alt="Screen Shot 2020-12-19 at 12 39 07 PM" src="https://user-images.githubusercontent.com/5400156/102695755-53960400-41f7-11eb-8053-c9703df77539.png">
Where when you select a user from auto-complete it's a multi-select with Xs?

[2020-12-19 17:44] maxceem opened #181 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2020-12-19 17:49] rootelement commented on #180
@topcoder-platform/tcxcommunity We'll be opening issues on this admin repo. if you'd like to participate, please check out the dev branch, and read the TCX rules here:  https://github.com/topcoder-platform/admin-app/issues/181

[2020-12-19 17:56] maxceem commented on #179
Yes, we can like that. Though by quick googling I haven't found a similar plugin for AngularJs which we can use. Though it shouldn't be a big problem we can use some `jquery` plugin like this https://github.com/aehlke/tag-it and create a custom directive for it.

The main question:
1. If we use such plugin support should still copy/paste users one by one into the field as a default behavior of suc

[2020-12-19 18:15] maxceem commented on #176
Contest https://www.topcoder.com/challenges/30159314 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-19 18:56] rootelement commented on #179
Let's go for #1 first, then if we can support bulk, we can do that second. I can also ask support what methods would be best

[2020-12-19 19:23] maxceem commented on #179
Contest https://www.topcoder.com/challenges/30159319 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-19 19:26] maxceem commented on #179
This task has **$50** bonus, if we can support copy/pasting multiple handles at once into this field, as per comment https://github.com/topcoder-platform/admin-app/issues/179#issuecomment-748504822 option 2. We should be able paste handles separated by any of the symbols: comma, space, tab, line-break.

But implementing only option 1 (copy-paste only one handle at a time) is also acceptable for th

[2020-12-20 14:47] maxceem commented on #177
Contest https://www.topcoder.com/challenges/30159310 has been updated - it has been assigned to fdittz.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-20 16:36] maxceem commented on #180
Contest https://www.topcoder.com/challenges/30159309 has been updated - it has been assigned to fdittz.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-20 20:22] maxceem commented on #176
Contest https://www.topcoder.com/challenges/30159314 has been updated - it has been assigned to fdittz.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-20 21:48] maxceem commented on #179
Contest https://www.topcoder.com/challenges/30159319 has been updated - it has been assigned to fdittz.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-21 21:38] fdittz commented on #179
Still working on it, trying to do something without needing to resort to a plugin and making it work with pasting multiple handles

[2020-12-21 21:46] maxceem commented on #179
No worries, it's ok. Just would like to note, that the most important for us to support autocomplete with the ability to select multiple handles.

[2020-12-23 08:39] maxceem commented on #179
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-23 19:50] maxceem commented on #176
Thank you @fdittz. In the end, I had to revert commit to updating URL when we filter by role, because "Back" then starts to change filter instead of going back to the challenge list. Though it was missing in the requirement.

Your implementation works good.

[2020-12-23 19:50] #176 closed

[2020-12-23 19:50] maxceem commented on #176
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159314<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-24 12:42] #177 closed

[2020-12-24 12:43] maxceem commented on #177
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159310<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-24 12:44] #179 closed

[2020-12-24 12:44] maxceem commented on #179
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159319<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-30 15:06] #180 closed

[2020-12-30 15:06] maxceem commented on #180
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159309<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-11 21:35] maxceem opened #190 ""npm run build" should never broke a build"
At the moment when we build the app using "npm run build" the resulting built is broken. This happens because building script is concatenating the source code into a single file, and removes new lines, which can lead to the situations, when some code became broken because of the concatenation.

See issue we had:

![image](https://user-images.githubusercontent.com/146016/104240693-24c12580-5465-11e

[2021-05-27 17:24] rootelement commented on #130
Yes, we can close it.

[2021-05-27 17:24] #130 closed

[2021-06-24 03:30] m-yadav opened #200 "Dev Deployment failed to admin app"
we have tried to deploy admin app via circle ci but it failed in deployment with the below error.

[code]

https://app.circleci.com/pipelines/github/topcoder-platform/admin-app/125/workflows/d95bfaa6-c98f-4fb5-b78d-cf98ca4dd007/jobs/281

[2021-06-24 03:30] m-yadav commented on #200
cc @Gunasekar-K  Kindly help here

[2021-08-04 11:13] m-yadav commented on #200
@Gunasekar-K  can you please help here